parameters:
    ignoreErrors:
        -
            message: '#Trait CK\\FilamentPennant\\Concerns\\ResolvesFeatureSegments is used zero times and is not analysed\.#'
            path: src/Concerns/ResolvesFeatureSegments.php
